<article class="product-card">
  <a href="{{ product.url }}" class="product-card__link">
    {% if product.featured_image %}
      <div class="product-card__image" style="background-image:url('{{ product.featured_image | img_url: '600x' }}')"></div>
    {% endif %}
    <div class="product-card__meta">
      <h3>{{ product.title }}</h3>
      <span>{{ product.price | money }}</span>
    </div>
  </a>
</article>
